{{- $img := .Page.Resources.GetMatch .Destination -}}
{{- if not $img -}}
    {{- $img = .Page.Parent.Resources.GetMatch .Destination -}}
{{- end -}}
{{- if not $img -}}
    {{- if and .Page.Parent (hasPrefix .Destination "../") -}}
        {{- $img = .Page.Parent.Resources.GetMatch (substr .Destination 3) -}}
    {{- end -}}
{{- end -}}
{{- with $img -}}
<figure class="image-caption">
    <img style="max-width: 100%; width: auto; height: auto;" 
         alt="{{ $.Text }}"
         src="{{ $img.RelPermalink }}"
         width="{{ $img.Width }}"
         height="{{ $img.Height }}">
    <figcaption>
        <small>
        {{ with $.Title | safeHTML }}
            {{ . }}
        {{ end }}
        </small>
    </figcaption>
</figure>
{{- else -}}
    {{ errorf "Unable to find image for %q at %q" .Destination .Page.File.Path }}
{{- end -}}
