{{ define "main" }}
<div class="td-content">
    <h1>{{ .Title }}</h1>
    {{ $page := . }}
    {{ $inventory := .Params.inventory | default (path.Base (path.Dir .File.Path)) }}
    {{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}
    {{ .Content }}
    <table>
        <thead><tr><th>Name</th><th>Summary</th></tr></thead>
        <tbody>
            {{ range $key, $value := (index $.Site.Data.inventory $inventory) -}}
            <tr><td><a href="{{- relref $page $key -}}">{{ $key }}</a></td><td>{{- $value.summary -}}</td></tr>
            {{ end -}}
        </tbody>
    </table>
    <div class="text-muted mt-5 pt-3 border-top">{{ partial "page-meta-lastmod.html" . }}</div>
</div>
{{ end }}
